.adminfilter {
    @extend .clearfix;
    border-top:1px solid $lightgrey;
    border-bottom:1px solid $lightgrey;
    .field, .actions {
        width:100%;
        padding:8px 12px;

        @include media(">medium") {
            width:50%;
            float:left;
        }

        @include media(">desktop") {
            width:350px;
            float:left;
        }
    }
    // .actions {
    //     clear:left;
    // }
}

.table {
    border-collapse: collapse;
    td, th {
        text-align:left;
        padding:8px 16px;
        border-bottom:1px solid $lightgrey;
    }
    thead {
        tr {
            th {
                font-weight: 500;
            }
        }
    }
}

.row_button {
    background-color:$medgrey;
    color:$white;
    text-decoration:none;
    padding:4px;
    border-radius:4px;
}

.pagination {
    @extend .clearfix;
    border-bottom:1px solid $lightgrey;
    ul {
        list-style-type:none;
        padding:0;
        display:block;
        margin:0 auto;
        li {
            display:inline;
            a {
                display:block;
                float:left;
                width:30px;
                height:30px;
                text-align:center;
                border-right:1px solid $lightgrey;
                text-decoration:none;
                padding-top:7px;
                color:$darkgrey;

                &.active {
                    background-color:$blue;
                    color:$white;
                }

                &:hover {
                    background-color:$lightgrey;
                }
            }
        }
    }
}