.adminfilter {
    @extend .clearfix;
    border-top:1px solid $lightgrey;
    border-bottom:1px solid $lightgrey;

    @extend .form--horizontal;
}

.table-container {
    max-width:100%;
    overflow:auto;
}

.table {
    border-collapse: collapse;
    td, th {
        text-align:left;
        padding:8px 16px;
        border-bottom:1px solid $lightgrey;
    }
    thead {
        tr {
            th {
                font-weight: 500;
            }
        }
    }
}

.row_button {
    display:inline-block;
    margin-bottom:4px;
    background-color:$medgrey;
    color:$white;
    text-decoration:none;
    padding:4px;
    border-radius:4px;
    white-space:nowrap;
}

.pagination {
    @extend .clearfix;
    border-bottom:1px solid $lightgrey;
    ul {
        list-style-type:none;
        padding:0;
        display:block;
        margin:0 auto;
        li {
            display:inline;
            a {
                display:block;
                float:left;
                width:30px;
                height:30px;
                text-align:center;
                border-right:1px solid $lightgrey;
                text-decoration:none;
                padding-top:7px;
                color:$darkgrey;

                &.active {
                    background-color:$blue;
                    color:$white;
                }

                &:hover {
                    background-color:$lightgrey;
                }
            }
        }
    }
}