@import "include_media";
@import "variables";

$ionicons-font-path: "~ionicons-npm/fonts";
@import "~ionicons-npm/scss/ionicons.scss";

@import "functions";
@import "header";
@import "reset";
@import "typography";

@import "~selectize/dist/css/selectize.css";
@import "~jquery-datetimepicker/jquery.datetimepicker.css";
@import "forms";
@import "table";
@import "modal";

main {
    padding:20px 20px 60px;
}

.panel {
    border:1px solid $lightgrey;

    .panel_header {
        background-color:$lightgrey;
        padding:6px 12px;
        position:relative;

        .panel_header_actions {
            position:absolute;
            bottom:12px;
            right:0px;
        }
    }
}